title: Sókny's Blog
subtitle: 星華輝月的博客
description: "悲莫悲兮生別離，樂莫樂兮新相知 - 歡迎來到星華輝月的博客！這裡有代碼、語言學和詩！"
keywords: "星華輝月, 星华辉月, Sókny, Sokny, Blog, 博客"
author: Sokny Artemis
language: zh
timezone: 'Asia/Shanghai'
url: https://sokny.eu.org
root: /
permalink: 'posts/:abbrlink.html'
permalink_defaults: null
pretty_urls:
  trailing_index: true
  trailing_html: true
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: ':lang'
skip_render: null
new_post_name: ':title.md'
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''
index_generator:
  path: ''
  per_page: 10
  order_by: '-date'
default_category: uncategorized
category_map: null
tag_map: null
meta_generator: true
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: mtime
per_page: 10
pagination_dir: page
include: null
exclude: null
ignore: null
theme: redefine
deploy:
  type: git
  repo: git@github.com:SoknyArtemis/soknyartemis.git
  branch: main


# Extensions
## Plugins: https://hexo.io/plugins/


#Feed Atom
feed:
  type: rss
  path: rss.xml
  limit: 20
  hub:
  content:
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date
  icon: icon.png
  autodiscovery: true
  template:

# hexo-all-minifier
all_minifier: true

# abbrlink config
abbrlink:
  alg: crc16     # Algorithm used to calc abbrlink. Support crc16(default) and crc32
  rep: hex      # Representation of abbrlink in URLs. Support dec(default) and hex
  drafts: false   # Whether to generate abbrlink for drafts. (false in default)
  force: true    # Enable force mode. In this mode, the plugin will ignore the cache, and calc the abbrlink for every post even it already had an abbrlink. (false in default)
  writeback: true # Whether to write changes to front-matters back to the actual markdown files. (true in default)

webp_cloud_proxy:
  enable: true
  # the suffix of img type to use webp cloud service
  convert_type_list: ["jpg", "jpeg", "png", "gif"]
  # your site url
  pre_url: https://keshane.moe
  # webp cloud service proxy url
  proxy_url: https://webp.keshane.moe
  # the filter priority, see https://hexo.io/api/filter.html
  priority: 10

# 自動生成 sitemap
sitemap:
  path: sitemap.xml

marked:
  smartypants: false